.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-navigation-logo-text {
  fill: #071019;
  color: #071019;
  text-align: left;
}
 
.navigation-navigation-toggle-icon1 {
  display: flex;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg) scale(1);
  transition: all 0.3s var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-navigation-toggle-icon2 {
  display: flex;
  opacity: 0;
  position: absolute;
  transform: rotate(90deg) scale(0);
  transition: all 0.3s var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
